/* global */
body{
  margin:0;
  padding:0;
  min-height: 500px;
  background: url('../images/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;

}

.container{
  width: 80%;
  overflow: auto;
  margin: auto; 
}

input[type="password"], [type="email"], [type="text"]{
  width: 80%;
  min-height: 20px;
  margin-bottom: 15px;
  padding: 5px;
}

button[type="submit"]{
  background:#795548;
  color: #fff;
  width:80%;
  height:35px;
  border-radius: 15px;
  margin-left: 3px;
}
.label{
  padding: 5px;
  color: #757575;
}

.details{
  padding: 10px;
  color: #212121;
}
hr{
 border-color: #BDBDBD;
}

.selected{
  color: #fff;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.dropdown:hover .profile-info{
  display: block;
  background: #fff;
  border:2px solid #BDBDBD;
  
}

#dialog-background-window{
  display: none;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  left: 0;
  top: 0;
  position: absolute;
}

#dialog-box{
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fefefe;
  padding: 20px;
  width: 40%;
  height: auto;
  overflow: auto; 
  overflow-x: hidden;
}

#content-message{
  text-align: center;
  margin-top: 10px;
  font-size: 1.5em;
  color: red;
}

#content-header{
  text-align: center;
  font-size: 1.5em;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#dialog-box .confirm, .cancel{

 border-radius: 4px;
 text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 margin:20px 20px 0 20px;
 height: 35px;
 width:100px;
}
#dialog-box .confirm{
 color: #fff;
 background:#795548;
 
}
#dialog-box .cancel{
 background:#BDBDBD;
}
/* header */
header{

  background: #00796B;
  color: #fff;
  padding:10px;
  min-height: 60px;
  border-bottom: 5px solid;
  border-color: #BDBDBD;
  border-width: 5px;
}

header h1{
  margin: 0px;
}

header #website-logo{
  text-align: center;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
}

header nav{
  text-align: center;
}
header nav a {
  text-decoration: none;
  color: #fff;
}
header li{
  display:block;
  text-transform: uppercase;
  font-size: 16px;
  margin-left: -25px;
}




/* section */

#user-form{
  margin-right: 15px;
  min-width: 80%;
  margin-top: 50px;
  background: #00796B;
  color: #fff;
  padding:15px;
  min-height: 80px;
  border: 5px solid;
  border-color: #BDBDBD;
  border-width: 5px;
  margin-left: 5px;
  margin-bottom: 150px;
}

#user-form a{
  padding-left: 5px;
  padding-right: 5px;
  background: #fff;
  color: #795548;

}

.not-registered{
  margin-top: 20px;
  text-align: center;
}

.page-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.profile-info{
  display: none;
  position: absolute;
  z-index: 1;
  min-height: 100px;
  background : #B2DFDB;
  padding: 10px;
  border-right: 2px solid #BDBDBD ;
}

.profile-photo-container{

 margin-left: 10px;
 margin-bottom: 15px;
 width:80px;
 min-height: 80px;
 border-radius: 50%;
 text-align: center;
 align-content: center;
 align-items: center;
 -moz-border-radius: 50%;
 -webkit-border-radius: 50%;
 background-image: url(../images/mr-bean-dummy.jpg);
 background-position:50% 50%;
 background-repeat:no-repeat;  
}

.attendant-content{
  background : #B2DFDB;
  grid-column-start: 1;
  grid-column-end: 6;
  min-height: 500px;
  border-left: 2px solid #BDBDBD ;

}

.attendant-content ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.attendant-content li{
  margin: 10px;
  display:inline;
  text-transform: uppercase;
  font-size: 12px;
}
.attendant-content nav a {
  text-decoration: none;
  color: #795548;
}
.wrapper{
  height: 500px;
}
.items-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item{
  margin: 10px;
}
.items-box img{
 height: 150px;
 width: 150px;
}

.items-box .sale-record{
  height: 150px;
  width: 150px;
  background: #fff;
  text-align: center;
}

.sale-record{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.items-box .record-details{
  margin:auto;
  color: #BDBDBD;
  font-size: 1.5em;
}

.items-box .record-date{
  color: #BDBDBD;
}
/* footer */

footer{
  background: #00796B;
  color: #fff;
  text-align: center;
  padding: 15px;
}



@media screen and (min-width:450px){

  header li{
    display:inline;
    margin-left: 0px;
    margin:5px;
  }

  header nav{
   margin-left: -20px;
 }
 
 #user-form{
  padding:5px;
  max-width: 60%
}
.attendant-content ul{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

} 

@media screen and (min-width:550px){

 #user-form{
  padding:15px;
  float: right;
  max-width: 80%
}
header #website-logo{
  float: left;
  text-align: left;
}

header nav{
  float: right;
}
.page-content{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.profile-info{
  display: block;
  position: static;
  z-index: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  min-height: 100px;
}
.attendant-content{
 grid-column-start: 2;
 grid-column-end: 6;
}
.dropdown{
  display:none;
}
footer{
  clear: both;
}

} 

@media screen and (min-width:610px){

 #user-form{
  min-width: 50%;
}

@media screen and (min-width:910px){

 #user-form{
  min-width: 30%;
  margin-right: 50px;
}


} 